.ProfileSide {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  overflow: auto;
  padding: 0 20px;
  padding-top: 20px;
}

// LOGO AND SEARCH BAR //

.LogoSearch {
  display: flex;
  align-items: center;
  overflow: auto;
  justify-content: flex-start;
  gap: 0.75rem;

  img {
    height: 2.5rem;
  }
}

.Search {
  display: flex;
  background-color: var(--inputColor);
  border-radius: 10px;
  padding: 5px;
  width: 80%;

  > input {
    background-color: transparent;
    border: 1px black;
    outline: none;
    width: -webkit-fill-available;
  }
}
.s-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--buttonBg);
  border-radius: 5px;
  padding: 4px;
  color: white;

  &:hover {
    cursor: pointer;
  }
}

// PROFILE CARD //

.ProfileCard {
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 1rem;
  overflow-x: clip;
  background: var(--cardColor);
  box-shadow: var(--profileShadow);
}

.ProfileImages {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > img:nth-of-type(1) {
    width: 100%;
    object-fit: cover;
    max-height: 25vh;
  }

  > img:nth-of-type(2) {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    position: absolute;
    bottom: -3rem;
    object-fit: cover;
    box-shadow: var(--profileShadow);
  }
}

.ProfileName {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  gap: 10px;

  > span:nth-of-type(1) {
    font-weight: bold;
  }

  > span:nth-of-type(2) {
    margin: 0 0.5rem;
    text-align: center;
  }
}

/* Follow Status */
.followStatus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;

  > hr {
    width: 85%;
    border: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--hrColor);
  }

  > div {
    display: flex;
    gap: 1rem;
    width: 80%;
    justify-content: space-around;
    align-items: center;
  }
}

.flNbr {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  align-items: center;
  justify-content: center;

  > span:nth-of-type(1) {
    font-weight: bold;
  }

  > span:nth-of-type(2) {
    color: var(--gray);
    font-size: 15px;
  }
}

.vl {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: var(--hrColor);
  height: 150%;
}

.ProfileCard > span {
  font-weight: bold;
  color: orange;
  align-self: center;
  margin-bottom: 1rem;
  cursor: pointer;
  padding-bottom: 15px;
}

// FOLLOWER CARD //

.FollowersCard {
  width: 100%;
  border-radius: 0.7rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  font-size: 13px;
}

.follower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;

  > div {
    display: flex;
    gap: 10px;
  }
}

.followerImg {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: 0% 15%;
}

.name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow: auto;
  margin-right: 15px;

  > span:nth-of-type(1) {
    font-weight: bold;
  }
}

.fc-button {
  height: 2rem;
  padding-left: 20px;
  padding-right: 20px;
}
