.PostSide {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100vh;
  overflow: auto;
  padding: 0rem 1rem;
}

.PostShare {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  background-color: var(--cardColor);
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 1rem;

  .inputField {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    > img {
      display: flex;
      align-items: center;
      border-radius: 50%;
      height: 2.6rem;
      width: 2.6rem;
      object-fit: cover;
      object-position: 50%;
    }

    input {
      background-color: var(--inputColor);
      border-radius: 10px;
      padding: 10px;
      margin-left: 1rem;
      font-size: 0.93rem;
      border: none;
      outline: none;
      width: 90%;
    }
  }

  > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    gap: 1rem;
  }
}

.PostOptions {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

.option {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px 5px 0px;
  font-size: 12px;
  gap: 0.35rem;

  &:hover {
    cursor: pointer;
  }

  &.photo {
    color: var(--photo);
  }

  &.video {
    color: var(--video);
  }

  &.location {
    color: var(--location);
  }

  &.shedule {
    color: var(--shedule);
  }
}

.ps-button {
  padding: 5px 20px 5px 20px;
  font-size: 12px;
}

.previewImage {
  position: relative;

  > svg {
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    cursor: pointer;
  }

  > img {
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
    object-position: top;
    border-radius: 0.5rem;
  }
}

// POSTS //

.Posts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

// POST //

.Post {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--cardColor);
  border-radius: 1rem;
  gap: 1rem;

  > img {
    width: 100%;
    max-height: fit-content;
    object-fit: cover;
  }
}

.postHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.65rem;

  > div:nth-child(3) {
    cursor: pointer;
  }
}

.postHeaderAlign {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profileImg {
  border-radius: 50%;
  height: 2.6rem;
  width: 2.6rem;
  object-fit: cover;
  object-position: 0% 15%;
  margin-right: 10px;
}

.profileName {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow: auto;
  margin-right: 15px;
  font-size: 0.93rem;

  > span:nth-of-type(1) {
    font-weight: bold;
  }

  > span:nth-of-type(2) {
    font-size: 0.82rem;
    line-height: 1.2rem;
  }
}

.postReact {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.editPost {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
