.Profile {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  overflow: hidden;
  height: 100vh;
}

.profileCenter {
  .PostSide {
    height: fit-content !important;
  }
  overflow-y: scroll;

  > div {
    box-shadow: none !important;
    overflow: hidden;
  }

  .ProfileCard {
    margin: 1rem 1rem 0 1rem;

    .profileImage {
      width: 12rem;
      height: 12rem;
      border-radius: 50%;
      position: absolute;
      object-fit: cover;
      bottom: -3rem;
      box-shadow: var(--profileShadow);
    }
  }
}

.InfoCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 0.75rem;
  background-color: var(--cardColor);
  width: 100%;
  border-radius: 1.5rem;
  box-shadow: var(--profileShadow);
  padding-bottom: 2rem;

  > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
    justify-content: space-around;
  }
}

.infoHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;

  > div:hover {
    cursor: pointer;
  }
}

.info {
  > :nth-child(1) {
    margin-right: 0.35rem;
  }

  > :nth-child(2) {
    overflow-wrap: anywhere;
  }
}

.count {
  font-size: 12px;
  margin-top: 0.35rem;
}

.infoFormProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  > div {
    display: flex;
    gap: 1rem;
    width: 90%;
  }

  .inputForm {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 0 !important;

    label {
      margin: 0 0 0.75rem 0;
      font-size: 0.83em;
      font-weight: bold;
    }

    > div > input {
      width: 90%;
    }

    input[type='file'] {
      margin: 0 0 0.75rem 0;
    }
  }

  .infoButton {
    margin-bottom: 1.5rem;
    height: 2.5rem !important;
    width: 40%;
  }
}

.imgUpload {
  display: flex;
  flex-direction: column;

  > div {
    margin-top: 5px;

    > input {
      margin: 1rem 0;
      display: flex;
      flex-direction: column;
    }
  }
}
